body {
  background: #312e2b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.shadow {
  -webkit-box-shadow: 1.5px 2px 3px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 1.5px 2px 3px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 1.5px 2px 3px 0px rgba(0, 0, 0, 0.14);
}

.tiles {
  margin: 20vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}

.tiles-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.tiles-tile {
  position: relative;
  width: 33%;
  padding-top: 33%;
}

.tiles-tile > div {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #ffffff20;
  font-size: 100%;
}

.tiles-tile-content {
  color: #ffffff80;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.tiles-tile > div:hover {
  background-color: #ffffff15;
  cursor: pointer;
}
